@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.9rem;
  height: 0.9rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 0.7rem;
  border: 0.25rem solid #f8fafb;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-color: #fee2e5;
}
html.dark *::-webkit-scrollbar-thumb {
  border-color: #272727;
}
html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  border-color: #0080b7;
}

@layer utilities {
  .clip-path-polygon {
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 90% 100%);
  }
}

@layer components {
  .card {
    @apply p-5 rounded-lg bg-white/50 shadow-lg shadow-gray-200/50 dark:bg-light/5 dark:shadow-neutral-700/10;
  }
}
